.caixa {
  width: 100px;
  height: 100px;
  background-color: pink;
  animation: girando 2s infinite;
}

@keyframes girando {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
